body {
}
img
{
  display: inline;
  height: 100%;
  width: 100%;
  margin: 20px;
  border: 0px;
}
div.opgave
{
    display: none;
}
div.indsend
{
    display: none;
}
div.opgave
{
    border: none;
}
.spg
{
    font-size: 22pt;
    font-weight: 900;
    list-style-type: none;
}
.svar
{
    font-size: 15pt;
    font-weight: 100;
    margin-left: 16px;
}
